.booking-sidebar-widget-box h5{
  font-size: 14px;
  font-weight: 700;
}
.booking-sidebar-widget-box h6{
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
}

.booking-sidebar-widget-box{
  padding: 20px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
}
.booking-form-list .title h5{
  margin-bottom: 5px;
}
.booking-form-list .title h5 span{
  color:red;
}
.booking-form-list .label-box p{
  font-size: 11px;
  margin: 0;
}
.booking-form-list .form-flex{
  display: flex;
  justify-content: space-between;
}
.booking-form-list .form-flex:not(:last-child){
  margin-bottom: 17px;
}
.booking-form-list select{
  width: 50px;
  height: 35px;
  border: 1px solid rgba(152,163,148,0.5);
  padding: 0 4px;
}
.booking-form-list .booking-single{
  margin-bottom: 15px;
}

/* Calender Widget Style */
.calender-widget .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.calender-widget .weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.calender-widget .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.calender-widget .days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.calender-widget .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .calender-widget .weekdays li, .calender-widget .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .calender-widget .weekdays li, .calender-widget .days li {width: 12.5%;}
  .calender-widget .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .calender-widget .weekdays li, .calender-widget .days li {width: 12.2%;}
}
/* Calender Widget Style Ends */

.booking-form-list .choose-time-form select{
  width: 100%;
  font-weight: 700;
}
.booking-form-list .price-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking-form-list .price-box h4{
  font-size: 18px;
  margin-bottom: 0;
}
.booking-form-list .price-box h5{
  margin-bottom: 0;
}
.booking-form-list .btn-submit{
  padding: 10px 15px;
  min-width: 160px;
  background-color: rgba(255, 92, 0, 1);
  border: 0;
  color:#fff;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.booking-form-list .btn-submit-box{
  text-align: center;
  margin: 15px 0;
}
.booking-form-list .form-note p{
  font-size: 13px;
}

/*=========================Datepicker Css========================*/

.datepicker-container .ui-datepicker {
  width: 100%;
}
.ui-datepicker .ui-datepicker-header{
  background: transparent;
  border: 0;
}
.ui-datepicker .ui-datepicker-title{
  font-size: 12px;
}
.calendar.datepicker-container, .calendar.datepicker-container .availabilitypicker{
  width: 100%;
}
.calendar .ui-datepicker-next, .calendar .ui-datepicker-prev {
  width: 23px !important;
    height: 23px !important;
    padding: 0 !important;
    margin-top: 0 !important;
}
.calendar .ui-datepicker-prev{
  top: 4px;
  left: 2px;
}
.calendar .ui-datepicker-next{
  top: 4px;
  right: 2px;
}
.calendar .ui-datepicker-calendar tbody span{
  background: transparent;
  text-align: center;
  border: 0;
  font-size: 13px;
}


.calendar .ui-datepicker-prev span,
.calendar .ui-datepicker-next span {
  background-image: none !important;
  text-indent: 0;
  line-height: 16px;
  font-weight: 400;
}
.form-right .book_tour .ui-datepicker-calendar td a{
  font-size: 13px;
  text-align: center;
  padding: 0.2em;
  background: none;
  border: 0;
  margin-top: 0;
  line-height: normal;
  transition: none;
  font-family: inherit;
}

.form-right .book_tour .ui-datepicker-calendar td a:hover, .form-right .book_tour .ui-datepicker-calendar td a.ui-state-active{
  background:#ff5c00;
  color:#fff;
}
.form-right .book_tour .ui-datepicker-calendar th span{
  font-size: 12px;
}

.booking-form-list .options-box input[type="text"]{
  box-sizing: border-box;
  background: #fff;
  color: #222;
  font-weight: bold;
  padding: 0 4px;
  height: 35px;
  line-height: 1;
  border-radius:0;
  width: 50px;
  border: 1px solid rgba(152, 163, 148, 05);
}
.product.forum .form-right{
  background-color: #fff;
}

/* .ui-datepicker-prev:before,
.ui-datepicker-next:before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  font-weight: normal;
  align-items: center;
  justify-content: center;
}

.ui-datepicker-prev:before {
  content: "\f060";
}

.ui-datepicker-next:before {
  content: "\f061";
} */

/* Datepicker Css */

